@import "tailwindcss";

:root {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  color: #171717;
  background: #fffdf7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fffdf7;
}

body {
  margin: 0;
  min-width: 320px;
  background: #fffdf7;
  color: #171717;
}

button,
input,
textarea,
select {
  font: inherit;
}